body{
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: #ffffff;
    background-color: #000000;
    margin: 8px;
}
.container{
    position: relative;
    margin: 20px 200px;
}
.flex-row, .flex-row-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.heading-bold {
    font-size: 1.5em;
    font-weight: bold;
}
.heading-thin {
    font-size: 1em;
    font-weight: 100;
}
.fa-plus-circle {
    color: #4b8ce8;
    cursor: pointer;
  }
.btn {
    cursor: pointer;
}
#formAddName.active {
    top: 30%;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup {
    position: fixed;
    top: 30%;
    left: 35%;
    width: 445px;
    height: 226px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    visibility:hidden;
    transition: 0.5s;
}
.popup-text {
    font-size: 23px;
    font-weight: 400;
    color: #ff0000;
    margin: 10px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card {
    min-height: 355px;
    min-width: 229px;
    border: 1px solid #ff0000;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #00000029;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    width: 320px;
    border: 1px solid red;
    box-shadow: 3px 3px 3px grey;
    height: 43px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
button{
    width: 101px;
    height: 43px;
    background-color: #e74c3c;
    border-radius: 20px;
    color: white;
    font-size: 0.8em;
    opacity: 1;
    margin: 10px;
    border: none;
    cursor: pointer;
}